<html>

	<body>
		<form action="/produtos" method="POST">
				<div>
					<label for="titulo">Titulo</label>
					<input type="text" id="titulo" name="titulo" placeholder="titulo"/>
				</div>
				<div>
					<label for="titulo">Descrição</label>
					<textarea rows="5" cols="10" " id="descricao" name="descricao" placeholder="Descrição"></textarea>
				</div>
				<div>
					<label for="titulo">Preço</label>
					<input type="text" id="preco" name="preco" placeholder="Preço"/>
				</div>

				<input type="submit" id="envio" name="envio" value="Enviar"/>
		</form>
	</body>
</html>